/* General settings______________________________________________________________________________________________________________________*/


*{
    box-sizing: border-box;
}

h1{
    width:50%;
   margin-left: 45%;
   color:black;

}

section{
    border: 2px solid black;
    background-color:grey;
    width:33%;
}

span{
    border:2px solid black;
    color:black;
    padding:10px;
    width:100px;
    height:40px;

}
#rice{
    background-color: pink;
    float:right;
}
#poha{
    background-color: red;
    float:right;
}
#dosa{
    
    background-color:yellow;
    float:right;
}





/*for desktop_______________________________________________________________________________________________________________________________*/
@media(min-width:992px){

    #sec1{
        height:150px;
        float:left;
        margin-right:5px;
    }

    #sec2{
        height:150px;
        float:left;

    }

    #sec3{
        height:150px;
        float:right;
    }

}

/*for tablet____________________________________________________________________________________________________________________________*/
@media(min-width:768px) and (max-width:991px){
    
    
    #sec1{
        width:49%;
        height:150px;
        float:left;
        margin-right:2px;
        margin-bottom:8px;
        
        
    }

    #sec2{
        height:150px;
        width:49%;
        float:right;
        margin-bottom:8px;
       
        
    }

    #sec3{
        height:100px;
        width:100%;
        
        clear:both;
    }
    
    
    }


/*for mobile_____________________________________________________________________________________________________________________________*/
@media(max-width:767px){
    sec{
        display: flow-root;
    }
    #sec1{
        margin-top:8px;
        float:left;
        width:100%;
        margin-bottom:8px;

    }
    #sec2{
        clear:left;
        width:100%;
        margin-bottom:8px;
    }

    #sec3{
        clear:left;
        width:100%;
    }

}
